body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
}

.card-container {
    height: 66vh;
    width: 22%;
    background-color: white;
    border: solid 1px bisque;
    margin: 20px 50px;
    position: relative;
    /* border-radius: 7px; */
    
   
}

.card-image {
    height: 39vh;
    width: 100%;
    /* border-radius: 5px; */
}
.like-image{
    height: 30px;
   
    position: absolute;
    top: 10px;
    right: 12px;
}


/* .card-description {
  font-size: 17px;
  padding: 0px 10px;
  background-color: tomato;

} */

.product-ratings{
    color: #FFD700;
    margin-right: 2px;
   height: 20px;
    
}
.card-button {
    border: none;
    padding: 7px 15px;
  color: white;
    background-color: black;
}


.button-container {
   height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.discout-offer-text{
    color: #800000;
   
}

