

.sign-in-container{
   
    height: 500px;
    width: 900px;
    margin: 50px auto;
   
}
.sign-in-container:hover{
   box-shadow: 0 0 gray;   
}
.img-container{
    height: 450px;
    
}
.signup-img{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px 2px gray ;
}


.sign-in-form-container{
    height: 450px;
    width: 450px;
    background-color:#b3caff;
}

.icon-container{
    width: 150px;
    margin: 0 auto;

}

.sign-icon{
    height: 22px;
    cursor: pointer;
   
}

.sign-form-container{
    background-color: white;
    width: 320px;
    display: block;
    margin: 15px auto;
    padding: 30px;
    border-radius: 10px;
   
}
.input-box{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    margin:20px auto;
}

.signup-btn{

   display: block;
   margin: 30px auto;
   align-items: center;
   border: none;
   padding: 7px 25px;
   border-radius: 10px;

   font-weight: bold;

}
.signup-btn:hover{
    box-shadow: 0 0 10px gray;
  
 }